# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Useless Hidden folders
.vscode/

# Useless Compilation folders
build/

r-type_client
r-type_server
build
vcpkg

#useless folders/files
perso
temp
log.txt
vgcore*
hello.txt